.menu {
    display: block;
    height: 1024px;
    width: 320px;
    background-color: white;
}
.menu__header{
    display: flex;
    box-sizing: border-box;
    position: relative;
    gap: 16px;
    padding: 24px;
    width: 100%;
    align-items: center;
}
.menu__header__btn {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--primary--pink);
    cursor: pointer;
}
.menu__header__btn--close {
    background-image: url(../img/close.svg);
}
.menu__header__btn--search {
    background-image: url(../img/search.svg);
    margin-left: auto;
}
.menu__header__logo {
    display: block;
    background-image: url(../img/logo.svg);
    width: 97px;
    height: 51px;
    background-repeat: no-repeat;
}

.menu__nav {
    display: flex;
    height: 876px;
    width: 222px;
}
.menu__list {
    display: flex;
    flex-direction: column;
}

.menu__item {
    display: flex;
    position: relative;
    box-sizing: border-box;
    padding: 24px 24px;
}

.menu__list li {
    list-style-type: none;
}

.menu__btn {
    display: inline-flex;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
    white-space: nowrap;
    align-items: center;
    border: none;
}

.menu__btn--focus::before {
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.menu__btn--focus{
    color:#7E7E82;
}

.menu__footer{

}
.menu__lang{

}