.menu {
    display: block;
    height: 1024px;
    width: 320px;
    background-color: white;
}
.menu__header {
    display: flex;
    box-sizing: border-box;
    position: relative;
    gap: 16px;
    padding: 24px;
    width: 100%;
    align-items: center;
}
.menu__btn {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--primary--pink);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}


button[class^="menu__btn"]:is(:hover, :focus, :active) {
    filter: brightness(92%);
    transform: scale(1.10); 
}

.menu__btn--close {
    background-image: url(../img/close.svg);
}
.menu__btn--search {
    background-image: url(../img/search.svg);
    margin-left: auto;
}
.menu__btn--call {
    background-image: url(../img/call.svg);
    margin-left: auto;
}
.menu__btn--write {
    background-image: url(../img/write.svg);
    margin-left: auto;
}
.menu__btn--profile {
    background-image: url(../img/profile.svg);
    margin-left: auto;
}
.menu__header__logo {
    display: block;
    background-image: url(../img/logo.svg);
    width: 97px;
    height: 51px;
    background-repeat: no-repeat;
}

.menu__nav {
    display: flex;
    min-width: 222px;
}
.menu__list {
    display: flex;
    flex-direction: column;
}

.menu__item {
    display: flex;
    position: relative;
    box-sizing: border-box;
    padding: 24px 24px;
}

.menu__list li {
    list-style-type: none;
}

.menu__nav__btn {
    display: inline-flex;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
    white-space: nowrap;
    align-items: center;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}

.menu__nav__btn--focus::before {
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.menu__nav__btn--focus, .menu__lang__text--focus {
    color:#7E7E82;
}

.menu__contact {
    display: block;
    box-sizing: border-box;
}

.menu__contact__btn {
    display: inline-flex;
    position: relative;
    gap: 16px;
    margin-top: 50px;
    margin-left: 24px;
}

.menu_contact_email, .menu__contact__phone {
    display: inline-flex;
    padding: 12px 24px;
    font-size: 16px;
}

.menu__contact__phone--bold {
    font-weight: 900;
    font-size: 24px;
}
.menu__lang {
    display: block;
    padding: 24px;
}

.menu__lang__text {
    display: inline-block;
    gap: 7px;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}